# Node modules
Backend-Aerocode/node_modules/
Frontend-Aerocode/node_modules/

# Environment variables
Backend-Aerocode/.env

# Build / dist folders
Frontend-Aerocode/dist/
Backend-Aerocode/dist/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
